#root {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  display: flex;
}

.leaflet-container {
  font-family: 'Roboto', sans-serif;
}

.leaflet-popup-content-wrapper {
  border-radius: 12px;
}

.leaflet-tooltip {
  border-radius: 8px;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.2);
}
